.sidemenu-header {
  height: var(--lumo-size-xl);
  box-shadow: var(--lumo-box-shadow-s);
  background-color: var(--lumo-primary-color);
  padding-left: 5%;
}
.sidemenu-header h1 {
  font-size: var(--lumo-font-size-xxl);
  margin: 0 2%;
  color: var(--lumo-tertiary-text-color);
}

.sidemenu-menu h1 {
  margin: 20px auto;
}