.sidemenu-header {
  height: var(--lumo-size-xl);
  box-shadow: var(--lumo-box-shadow-s);
  background-color: var(--lumo-primary-color);
  padding-left: 5%;
}
.sidemenu-header h1 {
  font-size: var(--lumo-font-size-xxl);
  margin: 0 2%;
  color: var(--lumo-tertiary-text-color);
}

.sidemenu-menu .logo {
  margin: 30px auto;
  color: rgb(22, 90, 146);
  width: 100px;
  height: 100px;
}

.sidemenu-menu .unselected {
  color: rgb(22, 90, 146);
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
}

.sidemenu-menu a {
  padding: 0 30px;
}

.sidemenu-menu .selected {
  background-color: rgb(22, 90, 146);
  color: #f5fcff;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
}