.chatbot-view {
  display: block;
}

.inputLayout {
  width: 90%;
  margin-left: 5%;
}

.vaadin-text-field-container [part="value"]{
  background-color: var(--lumo-tint-70pct);
}

.MessageList {
  overflow-y: auto;
  width: 90%;
  height: 90%;
  padding: 0 5%;
}

.MessageList-name {
  font-weight: bold;
}

.MessageList-bubble {
  margin: .5em;
  padding: 1em;
  border-radius: var(--lumo-border-radius);
  background-color: var(--lumo-shade-10pct);
  color: var(--lumo-shade-90pct);
}

.MessageList-bubble-currentUser {
  background-color: var(--lumo-primary-text-color);
  color: var(--lumo-tertiary-text-color);
}

.MessageList-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: unset;
  height: unset;
  padding: 0;
}

.MessageList-row {
  display: flex;
  align-items: center;
}

.MessageList-row-currentUser {
  flex-direction: row-reverse;
}

.MessageList-gap {
  height: 50px;
}
